*{
    margin: 0px;
    padding: 0px;
}
 body{
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}
    
#mainFlex{
    display: flex;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
   
}

#mainBox{
    width: 90%;
    margin-left: 5%;
    margin-right: auto;
    text-align: center;
    position: fixed;
    /*transform: rotate(-90deg);*/  
}
#top{
    display: flex;
    justify-content: space-around;
    height: 10vh;
}
#center{
    height: 80vh;
}
#bottom{
    height: 10vh;
}

/* moving curtain code  */
#bodyBackground{             
    position: fixed;  
    height: 100%;
    width: 100%;
    z-index: -100; 
                   
}  
#coverUpL{
    position: relative;
    border-style: solid;
    background-color: black;
    width: 45vw;
    height: 100%;
    z-index: 100;
}
#leftCurtain{
    position: relative;
    display: flex;
    margin-left: -44vw;
    animation: moveLeft 5s;   
}
#rightCurtain{
    position: relative;
    display: flex;
    margin-left: 88vw; 
    animation: moveRight 5s;
}
#limg {
    position: relative;    
    z-index: 100;
    height: 100vh;
    width: 5vw;
}

#coverUp{
    position: relative;
    border-style: solid;
    background-color: black;
    width: 45vw;
    height: 100%;
    z-index: 100;
}

#myVideo {
    position: relative;
    display: flex;
    z-index: 100;
}

@keyframes moveRight {
    from {margin-left: 0px;}
    to {margin-left: 88vw;}
}
@keyframes moveLeft {
    from {margin-left: 0vw;}
    to {margin-left: -44vw;}
}