#bodyBackground{             
    position: fixed;  
    height: 100%;
    width: 100%;
    z-index: -100; 
                   
}  
#coverUpL{
    position: relative;
    border-style: solid;
    background-color: black;
    width: 45vw;
    height: 100%;
    z-index: 100;
}
#pillar{
    position: relative;
    display: flex;
    margin-left: -44vw;
    animation: moveLeft 5s;   
}
#rightCurtain{
    position: relative;
    display: flex;
    margin-left: 88vw; 
    animation: moveRight 5s;
}
#limg {
    position: relative;    
    z-index: 100;
    height: 100vh;
    width: 5vw;
}

#coverUp{
    position: relative;
    border-style: solid;
    background-color: black;
    width: 45vw;
    height: 100%;
    z-index: 100;
}

@keyframes moveRight {
    from {margin-left: 0px;}
    to {margin-left: 88vw;}
}
@keyframes moveLeft {
    from {margin-left: 0vw;}
    to {margin-left: -44vw;}
}