#menu{
    display: flex;
    justify-content: space-around;
}
li{
    border-style: hidden;
    background-color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    opacity: 0.5;
}
